.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin-top: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card a {
    display: block;
    text-align: center;
    background-color: #ccc;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
}